.project_card {
  border-radius: 10px;
  border-color: black;
  border-width: 2px;
  width: 100%;
  border-style: solid;
  margin-bottom: 4px;
}

.footer {
  border-top: solid;
  border-color: gray;
  color: gray;
}
