.leaflet-control-Search {
}

.leaflet-control-Search:hover {
}

.searchIcon {
  margin-left: 2px;
  background-color: aliceblue;
  border-color: rgb(133, 133, 133);
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
}
.formSearchOnMap {
  display: none;
}
.searchIconBox:hover {
}

.filterItem {
}

.siteFilterdList {
  list-style-type: none;
}
